In [1]:
import pandas as pd
import nltk
from nltk.probability import FreqDist
from nltk.corpus import stopwords, words
from nltk import word_tokenize
import re
import numpy as np
from wordcloud import WordCloud, STOPWORDS
import matplotlib.pyplot as plt
from PIL import Image
import requests
from io import BytesIO

In [2]:
url = "https://raw.githubusercontent.com/LunaHub/Friends_social_data_analysis_2019/master/data/All_Friends_data.csv"
df = pd.read_csv(url, error_bad_lines=False)

In [3]:
df = df.drop("Unnamed: 0",axis=1)

In [4]:
mainch = ["joey","rachel","ross","chandler","monica","phoebe"]

In [5]:
# function for clearing lines
def cleanLines(line):
    #Exclude links
    line = re.sub(r'\([^)]*\)','',line)
    #Remove everything besides letters
    line = re.sub("([^a-z \t])|(\w+:\/\/\S+)", "", line)
    #Create a string for tweet
    line = [''.join(s for s in line)]
    return(line)

In [6]:
#Find episodes  of each season
s1 = df[['Speaker','Text','Scene']][df['Episode'].str.match(pat = '(1[0-2][1-9])')].reset_index(drop=True)
s2 = df[['Speaker','Text','Scene']][df['Episode'].str.match(pat = '(2[0-2][1-9])')].reset_index(drop=True)
s3 = df[['Speaker','Text','Scene']][df['Episode'].str.match(pat = '(3[0-2][1-9])')].reset_index(drop=True)
s4 = df[['Speaker','Text','Scene']][df['Episode'].str.match(pat = '(4[0-2][1-9])')].reset_index(drop=True)
s5 = df[['Speaker','Text','Scene']][df['Episode'].str.match(pat = '(5[0-2][1-9])')].reset_index(drop=True)
s6 = df[['Speaker','Text','Scene']][df['Episode'].str.match(pat = '(6[0-2][1-9])')].reset_index(drop=True)
s7 = df[['Speaker','Text','Scene']][df['Episode'].str.match(pat = '(7[0-2][1-9])')].reset_index(drop=True)
s8 = df[['Speaker','Text','Scene']][df['Episode'].str.match(pat = '(8[0-2][1-9])')].reset_index(drop=True)
s9 = df[['Speaker','Text','Scene']][df['Episode'].str.match(pat = '(9[0-2][1-9])')].reset_index(drop=True)
s10 = df[['Speaker','Text','Scene']][df['Episode'].str.match(pat = '(10[0-2][1-9])')].reset_index(drop=True)

In [7]:
#Create list for what characters says in season 1. liness1[0] is what joey says, liness1[5] is phoebe
liness1 = []
for character in mainch:
    says = s1.Text[[character in i for i in s1.Speaker.str.split("\b")]].reset_index(drop=True)
    liness1.append(says)

liness2 = []
for character in mainch:
    says = s2.Text[[character in i for i in s2.Speaker.str.split("\b")]].reset_index(drop=True)
    liness2.append(says)
    
liness3 = []
for character in mainch:
    says = s3.Text[[character in i for i in s3.Speaker.str.split("\b")]].reset_index(drop=True)
    liness3.append(says)

liness4 = []
for character in mainch:
    says = s4.Text[[character in i for i in s4.Speaker.str.split("\b")]].reset_index(drop=True)
    liness4.append(says)

liness5 = []
for character in mainch:
    says = s5.Text[[character in i for i in s5.Speaker.str.split("\b")]].reset_index(drop=True)
    liness5.append(says)

liness6 = []
for character in mainch:
    says = s6.Text[[character in i for i in s6.Speaker.str.split("\b")]].reset_index(drop=True)
    liness6.append(says)
    
liness7 = []
for character in mainch:
    says = s7.Text[[character in i for i in s7.Speaker.str.split("\b")]].reset_index(drop=True)
    liness7.append(says)

liness8 = []
for character in mainch:
    says = s8.Text[[character in i for i in s8.Speaker.str.split("\b")]].reset_index(drop=True)
    liness8.append(says)
    
liness9 = []
for character in mainch:
    says = s9.Text[[character in i for i in s9.Speaker.str.split("\b")]].reset_index(drop=True)
    liness9.append(says)

liness10 = []
for character in mainch:
    says = s10.Text[[character in i for i in s10.Speaker.str.split("\b")]].reset_index(drop=True)
    liness10.append(says)

In [8]:
seasons = ["Season 1","Season 2","Season 3","Season 4","Season 5","Season 6","Season 7","Season 8","Season 9","Season 10"]

In [9]:
n = 0
joeylines = []
joeylines.append(liness1[n])
joeylines.append(liness2[n])
joeylines.append(liness3[n])
joeylines.append(liness4[n])
joeylines.append(liness5[n])
joeylines.append(liness6[n])
joeylines.append(liness7[n])
joeylines.append(liness8[n])
joeylines.append(liness9[n])
joeylines.append(liness10[n])

In [10]:
lines = ["oh my god","janice","problem","sorry","love","sex","food","you doin","act","cast","movie","play","ross","chandler"]
saystimes = []
for line in range(len(lines)):
    saysthis = []
    for n in joeylines:
        saysthis.append(sum(lines[line] in say for say in n))
    saystimes.append(saysthis)
pd.DataFrame(saystimes, lines,seasons)

,Season 1,Season 2,Season 3,Season 4,Season 5,Season 6,Season 7,Season 8,Season 9,Season 10
oh my god,8,5,2,4,3,9,4,12,8,7
janice,1,0,9,2,0,0,0,0,0,0
problem,1,5,2,2,7,8,6,4,3,1
sorry,12,7,12,7,20,20,14,12,14,12
love,11,10,6,7,12,12,16,15,9,10
sex,8,5,9,4,12,0,2,9,7,2
food,5,1,3,2,2,6,4,5,1,8
you doin,4,5,4,6,3,10,5,9,5,2
act,16,17,26,18,21,26,24,20,22,16
cast,1,0,6,0,3,1,2,1,2,3
movie,6,2,3,2,11,9,8,8,1,3
play,17,0,19,9,17,10,9,2,6,9
ross,55,27,26,37,60,35,35,46,44,33
chandler,32,37,38,53,45,62,35,29,34,21

In [11]:
n = 1
rachellines = []
rachellines.append(liness1[n])
rachellines.append(liness2[n])
rachellines.append(liness3[n])
rachellines.append(liness4[n])
rachellines.append(liness5[n])
rachellines.append(liness6[n])
rachellines.append(liness7[n])
rachellines.append(liness8[n])
rachellines.append(liness9[n])
rachellines.append(liness10[n])

In [12]:
lines = ["oh my god","sorry","marry","work","dad","coffee","money","ross","divorce","love","happy","ralph lauren","baby"]
saystimes = []
for line in range(len(lines)):
    saysthis = []
    for n in rachellines:
        saysthis.append(sum(lines[line] in say for say in n))
    saystimes.append(saysthis)

pd.DataFrame(saystimes, lines,seasons)

,Season 1,Season 2,Season 3,Season 4,Season 5,Season 6,Season 7,Season 8,Season 9,Season 10
oh my god,23,12,20,18,25,30,29,20,15,23
sorry,23,19,27,30,24,32,26,22,19,16
marry,1,2,1,3,0,4,5,0,3,1
work,10,5,18,17,10,13,14,17,16,5
dad,6,10,9,2,1,7,4,7,2,1
coffee,17,1,5,1,0,3,6,2,3,4
money,9,4,0,2,2,3,1,6,1,5
ross,86,37,92,50,72,89,29,91,66,81
divorce,0,2,0,1,3,2,2,1,0,0
love,27,6,20,16,17,23,21,15,24,15
happy,9,5,3,7,1,6,7,5,2,8
ralph lauren,5,0,0,0,2,11,2,1,1,5
baby,5,1,0,5,4,1,4,45,21,11

In [13]:
n = 2
rosslines = []
rosslines.append(liness1[n])
rosslines.append(liness2[n])
rosslines.append(liness3[n])
rosslines.append(liness4[n])
rosslines.append(liness5[n])
rosslines.append(liness6[n])
rosslines.append(liness7[n])
rosslines.append(liness8[n])
rosslines.append(liness9[n])
rosslines.append(liness10[n])

In [14]:
lines = ["oh my god","sorry","love","divorce","lesbian","rach","baby","child","student"]
saystimes = []
for line in range(len(lines)):
    saysthis = []
    for n in rosslines:
        saysthis.append(sum(lines[line] in say for say in n))
    saystimes.append(saysthis)

pd.DataFrame(saystimes, lines,seasons)

,Season 1,Season 2,Season 3,Season 4,Season 5,Season 6,Season 7,Season 8,Season 9,Season 10
oh my god,21,10,4,7,6,9,10,7,19,18
sorry,21,17,35,10,18,16,17,25,16,13
love,21,6,20,12,15,19,11,19,12,15
divorce,1,0,0,2,7,11,4,1,7,0
lesbian,8,1,2,2,0,1,0,0,1,0
rach,83,52,73,21,50,51,22,82,63,69
baby,25,5,1,1,3,2,2,36,16,6
child,4,5,0,3,2,0,2,3,5,4
student,1,0,1,0,1,7,6,4,0,2

In [15]:
n = 3
chandlerlines = []
chandlerlines.append(liness1[n])
chandlerlines.append(liness2[n])
chandlerlines.append(liness3[n])
chandlerlines.append(liness4[n])
chandlerlines.append(liness5[n])
chandlerlines.append(liness6[n])
chandlerlines.append(liness7[n])
chandlerlines.append(liness8[n])
chandlerlines.append(liness9[n])
chandlerlines.append(liness10[n])

In [16]:
lines = ["janice","sorry","date","break","oh my god","monica","joey","baby","marry"]
saystimes = []
for line in range(len(lines)):
    saysthis = []
    for n in chandlerlines:
        saysthis.append(sum(lines[line] in say for say in n))
    saystimes.append(saysthis)

pd.DataFrame(saystimes, lines,seasons)

,Season 1,Season 2,Season 3,Season 4,Season 5,Season 6,Season 7,Season 8,Season 9,Season 10
janice,14,6,21,5,0,0,1,3,1,5
sorry,13,14,8,11,16,11,11,8,15,8
date,6,2,5,0,3,3,4,1,4,1
break,11,1,3,6,2,6,3,1,2,4
oh my god,9,1,5,7,7,14,7,6,4,5
monica,26,11,14,8,60,52,85,23,51,39
joey,44,44,37,51,35,38,34,15,32,27
baby,6,4,4,7,3,6,4,6,12,10
marry,4,0,0,2,1,8,6,1,0,2

We can see that in season 5 a change happens - Joey stops being the most important person in Chandlers life and it then becomes Monica that he mentions the most

In [17]:
n = 4
monicalines = []
monicalines.append(liness1[n])
monicalines.append(liness2[n])
monicalines.append(liness3[n])
monicalines.append(liness4[n])
monicalines.append(liness5[n])
monicalines.append(liness6[n])
monicalines.append(liness7[n])
monicalines.append(liness8[n])
monicalines.append(liness9[n])
monicalines.append(liness10[n])

In [18]:
lines = ["oh my god","sorry","food","work","baby","clean","cook","chandler","family","adopt"]
saystimes = []
for line in range(len(lines)):
    saysthis = []
    for n in monicalines:
        saysthis.append(sum(lines[line] in say for say in n))
    saystimes.append(saysthis)

pd.DataFrame(saystimes, lines,seasons)

,Season 1,Season 2,Season 3,Season 4,Season 5,Season 6,Season 7,Season 8,Season 9,Season 10
oh my god,29,16,20,15,13,21,15,15,21,27
sorry,25,20,15,5,23,18,20,12,12,15
food,3,4,3,3,5,1,2,3,1,3
work,14,6,10,14,22,17,18,15,8,7
baby,17,5,4,4,4,5,9,19,18,24
clean,2,1,1,2,5,1,1,8,3,2
cook,4,8,0,4,2,6,7,4,0,2
chandler,37,10,20,21,61,77,73,49,52,61
family,2,1,4,1,0,0,5,1,1,2
adopt,2,0,0,0,0,0,0,0,2,12

In [19]:
n = 5
phoebelines = []
phoebelines.append(liness1[n])
phoebelines.append(liness2[n])
phoebelines.append(liness3[n])
phoebelines.append(liness4[n])
phoebelines.append(liness5[n])
phoebelines.append(liness6[n])
phoebelines.append(liness7[n])
phoebelines.append(liness8[n])
phoebelines.append(liness9[n])
phoebelines.append(liness10[n])

In [20]:
lines = ["oh my god","sorry","smelly cat","dad","mom","kill","sister","work","divorce","married","date"]
saystimes = []
for line in range(len(lines)):
    saysthis = []
    for n in phoebelines:
        saysthis.append(sum(lines[line] in say for say in n))
    saystimes.append(saysthis)

pd.DataFrame(saystimes, lines,seasons)

,Season 1,Season 2,Season 3,Season 4,Season 5,Season 6,Season 7,Season 8,Season 9,Season 10
oh my god,9,16,16,14,14,13,23,15,27,8
sorry,24,21,23,11,15,13,16,18,23,12
smelly cat,0,9,2,2,0,0,0,0,1,0
dad,6,13,5,2,2,1,1,2,4,5
mom,11,3,10,20,5,0,7,1,7,4
kill,4,2,4,2,5,6,5,4,8,3
sister,2,1,9,3,1,2,1,1,4,1
work,19,6,9,19,9,16,6,10,12,9
divorce,0,1,0,1,0,7,2,0,3,0
married,5,3,2,3,1,14,5,2,9,6
date,3,3,8,1,2,5,5,4,7,3